.calculator {   
 padding: 10px;
 border-radius: 15px;
 height: 480px;
 width: 400px;
 margin:auto;
 background-color: #270531;
 }
.display-box {
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 background-color: #d9ebef;
 border: solid rgb(178, 27, 27) 3px;
 color: rgb(28, 144, 142);
 border-radius:50px;
 width: 95%;
 height: 55%;
 font-size: 25px;
}
.button {
 font-family:sans-serif;
 background-color: #86ddca;
 color: rgb(10, 1, 6);
 border: solid rgb(205, 9, 9) 2px;
 width: 90%;
 border-radius: 100%;
 height: 70%;
 /* outline: none; */
 font-size: 25px;
 cursor: pointer;
}
.button:active {
 background: #af6c9c;
}
caption{
    font-size: 50px;
    color: #d64304;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
